{## sample data

interfaces:
        lo0:
                unit       : 0
                description: 'Loopback Interface'
                ip_address : '1.1.1.1/32'
                mpls_family: False
##}

{% for interface,properties in interfaces.items() -%}

set interfaces {{ interface }} unit {{ properties['unit'] }} description "{{ properties['description'] }}"
set interfaces {{ interface }} unit {{ properties['unit'] }} family inet address {{ properties['ip_address'] }}
{% if properties['mpls_family']  == True -%}
  set interfaces {{ interface }} unit {{ properties['unit'] }} fample mpls
{% endif -%}
{% endfor -%}
